.properties {
    padding: 0.5rem;
}

.properties .col {
    display: inline-block;
    width: 33.33%;
    padding: 0.5rem;
    box-sizing: border-box;
}

#sidebar {  
height: 600px;
width: 175px;
float: left;
background-color: lightseagreen;
text-align: center;
}
